Source code/.opencode/commands/opsx-sync.md
Source code/.opencode/commands/opsx-apply.md
Source code/.opencode/commands/opsx-update.md
Source code/.opencode/commands/opsx-archive.md
Source code/.opencode/commands/opsx-explore.md
Source code/.opencode/commands/opsx-propose.md
Source code/.opencode/skills/openspec-explore/SKILL.md
Source code/.opencode/skills/openspec-propose/SKILL.md
Source code/.opencode/skills/openspec-sync-specs/SKILL.md
Source code/.opencode/skills/openspec-apply-change/SKILL.md
Source code/.opencode/skills/openspec-update-change/SKILL.md
Source code/.opencode/skills/openspec-archive-change/SKILL.md
Source code/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Source code/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Source code/openspec/config.yaml
